@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-nobel-gold: #C5A059;
  --color-nobel-dark: #1a1a1a;
  --color-nobel-cream: #F9F8F4;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --animate-fade-in: fadeIn 1s ease-out forwards;
  --animate-fade-in-up: fadeInUp 1s ease-out forwards;

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--color-nobel-cream);
    color: var(--color-nobel-dark);
}

::selection {
    background-color: var(--color-nobel-gold);
    color: white;
}
